<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Doctor Appointments</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/appointment.css}">

</head>

<body>

<div class="container">

	<div class="page-header">

	<h1>📅 Doctor Appointments</h1>

	<a class="back-btn"
	th:href="@{/doctor}">
	← Dashboard
	</a>

	</div>

    <table>

        <thead>

        <tr>

            <th>Patient</th>
            <th>Date</th>
            <th>Time</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Action</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="appointment : ${appointments}">

            <td th:text="${appointment.patient.name}"></td>

            <td th:text="${appointment.appointmentDate}"></td>

            <td th:text="${appointment.appointmentTime}"></td>

            <td th:text="${appointment.reason}"></td>

            <td>

                <span
                    th:text="${appointment.status}"
                    th:classappend="
                        ${appointment.status == 'PENDING'} ? 'pending' :
                        (${appointment.status == 'ACCEPTED'} ? 'accepted' : 'rejected')">
                </span>

            </td>

            <td>

                <!-- Show buttons only if appointment is pending -->
                <th:block th:if="${appointment.status == 'PENDING'}">

                    <a class="accept"
                       th:href="@{'/appointment/accept/' + ${appointment.id}}">
                        Accept
                    </a>

                    <a class="reject"
                       th:href="@{'/appointment/reject/' + ${appointment.id}}">
                        Reject
                    </a>

                </th:block>

                <!-- Show Accepted text -->
				<th:block th:if="${appointment.status == 'ACCEPTED'}">

				    <span class="accepted">
				        ✔ Accepted
				    </span>

				    <br><br>

				    <a class="prescription-btn"
				       th:href="@{'/prescription/write/' + ${appointment.id}}">
				        💊 Give Prescription
				    </a>

				</th:block>

                <!-- Show Rejected text -->
                <span class="rejected"
                      th:if="${appointment.status == 'REJECTED'}">
                    ✖ Rejected
                </span>

            </td>

        </tr>

        </tbody>

    </table>

    <div style="text-align:center; margin-top:30px;">

        <a class="back-btn" th:href="@{/doctor}">
            ← Return to Dashboard
        </a>

    </div>

</div>

</body>

</html>