/* ===========================
   Login Page
=========================== */

body{

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

    background:linear-gradient(135deg,#EFF6FF,#DBEAFE);

}

/* Card */

.login-card{

    width:100%;
    max-width:430px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:var(--shadow);

}

/* Logo */

.logo{

    font-size:70px;

    text-align:center;

}

/* Title */

.project-name{

    text-align:center;

    color:var(--primary);

    margin-top:10px;

}

.project-subtitle{

    text-align:center;

    margin-bottom:35px;

}

/* Welcome */

.login-card h2{

    text-align:center;

    margin-bottom:25px;

}

/* Form */

.login-form{

    display:flex;

    flex-direction:column;

    gap:18px;

}

/* Button */

.login-btn{

    width:100%;

}

/* Footer */

.footer{

    margin-top:25px;

    text-align:center;

    color:var(--text-light);

}

.footer a{

    color:var(--primary);

    font-weight:600;

}

/* Error */

.error{

    color:var(--danger);

    text-align:center;

}