<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smart Hospital Management System</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container">

        <h1>🏥 Smart Hospital Management System</h1>

        <p>Welcome to the Hospital Management System.</p>

        <div class="buttons">
            <a th:href="@{/login}">Login</a>
            <a href="#">Register</a>
        </div>

    </div>

</body>
</html>