<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>MediSync | Add Doctor</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/doctor.css}">

</head>

<body>

<div class="container">

    <div class="page-header">

        <h1>👨‍⚕️ Add Doctor</h1>

        <a class="back-btn"
           th:href="@{/doctor/list}">
            ← Doctor List
        </a>

    </div>

    <div class="form-card">

        <form th:action="@{/doctor/save}"
              th:object="${doctor}"
              method="post">

            <input type="text"
                   th:field="*{name}"
                   placeholder="Doctor Name">

            <input type="text"
                   th:field="*{specialization}"
                   placeholder="Specialization">

            <input type="text"
                   th:field="*{qualification}"
                   placeholder="Qualification">

            <input type="number"
                   th:field="*{experience}"
                   placeholder="Experience">

            <input type="text"
                   th:field="*{phone}"
                   placeholder="Phone">

            <input type="email"
                   th:field="*{email}"
                   placeholder="Email">

            <button type="submit">
                💾 Save Doctor
            </button>

        </form>

    </div>

</div>

</body>

</html>